
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 col-xxl-12">


<div class="row g-3">
    <div class="col col-12 col-sm-6 col-lg-4 col-md-4 col-xl-3 col-xxl-3">


<label for="" class="form-label">NAME</label>
<input type="text" class="form-control">



    </div>
    <div class="col col-12 col-sm-6 col-lg-4 col-md-4 col-xl-3 col-xxl-3">


        <label for="" class="form-label">email-id</label>
        <input type="text" class="form-control">
        


    </div>
    <div class="col col-12 col-sm-6 col-lg-4 col-md-4 col-xl-3 col-xxl-3">


        <label for="" class="form-label">D.O.B</label>
        <input type="text" class="form-control">
        


    </div>
    <div class="col col-12 col-sm-6 col-lg-4 col-md-4 col-xl-3 col-xxl-3">


        <label for="" class="form-label">GENDER</label>
        <input type="text" class="form-control">
        

    </div>
    <div class="col col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 col-xxl-12">


        <label for="" class="form-label">ADDRESS</label>
<textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
        

    </div>
    <div class="col col-12 col-sm-6 col-lg-4 col-md-4 col-xl-3 col-xxl-3">


        <label for="" class="form-label">MOBILE NO</label>
        <input type="text" class="form-control">
        


    </div>
    <div class="col col-12 col-sm-6 col-lg-4 col-md-4 col-xl-3 col-xxl-3">


        <label for="" class="form-label">USERNAME</label>
        <input type="text" class="form-control">
        

    </div>
    <div class="col col-12 col-sm-6 col-lg-4 col-md-4 col-xl-3 col-xxl-3">


        <label for="" class="form-label">PASSWORD</label>
        <input type="password" class="form-control">
        

    </div>
    <div class="col col-12 col-sm-6 col-lg-4 col-md-4 col-xl-3 col-xxl-3">


        <label for="" class="form-label">CONFORM PASSWORD</label>
        <input type="password" class="form-control">
        

    </div>
    <div class="col col-12 col-sm-6 col-lg-4 col-md-4 col-xl-3 col-xxl-3">

<button class="btn btn-success">REGISTER</button>

    </div>
</div>



        </div>
    </div>
</div>